<div class="dashboard-wrapper">
    <div class="dashboard-header">
        <div class="header-top">
            <h2>Control Vehicular</h2>
            <button class="btn-primary">
                <span class="material-symbols-outlined">car_tag</span>
                Registro Vehicular
            </button>
        </div>
        <li>
            <span class="material-symbols-outlined">directions_car</span>
            Registro de vehiculos autorizados para ingresar al residencial
        </li>
    </div>

    <div class="vehicular-grid">
        <div class="card-lg">
            <div class="card-header">
                <div class="header-title">
                        <span class="material-symbols-outlined">Warning</span>
                        <div>
                            <h3>¡Recuerda!</h3>
                            <small>Todos los vehiculos autorizables, deben estar ligados a un residente y a un hogar</small>
                        </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="aura-table">
                        <thead>
                            <tr>
                                <th>Fecha y hora</th>
                                <th>Acción</th>
                                <th>Metodo</th>
                                <th>Información</th>
                                <th>Destino</th>
                                <th>Placa</th>
                                <th>Marca</th>
                                <th>Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (isLoading()) {
                                <tr>
                                    <td colspan="5" class="text-center py-4">
                                        Cargando accesos vehiculares...
                                    </td>
                                </tr>
                            } @else if (accessLogsList().length === 0) {
                                <tr>
                                    <td colspan="5" class="text-center py-4">
                                        No hay accesos vehiculares registrados.
                                    </td>
                                </tr>
                            } @else {
                                @for (item of accessLogsList(); track item.id) {
                                    <tr>
                                        <td> {{ item.timestamp | date:'dd MMM yyyy · HH:mm' }} </td>
                                        <td>
                                            <span [class]="'badge ' + getAccessTypeClass(item.access_type || '')">
                                                {{ getAccessTypeLabel(item.access_type || '') }}
                                            </span>
                                        </td>
                                        <td>
                                            <span [class]="'badge ' + getMethodClass(item.method || '')">
                                                {{ getMethodLabel(item.method || '') }}
                                            </span>
                                        </td>
                                        <td> {{ item.message }} </td>
                                          <td>  {{ item.residence?.address?.name || 'Sin dirección' }},
                                                CP {{ item.residence?.address?.cp || 'N/A' }} </td>
                                        <td> {{ item.vehicle?.plate || 'N/A' }} </td>
                                        <td> {{ item.vehicle?.brand || 'N/A' }} </td>
                                        <td> {{ item.vehicle?.color || 'N/A' }} </td>
                                    </tr>
                                }
                            }
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>