<div class="dashboard-wrapper">
  
  <div class="dashboard-header">
    <h2>¡Bienvenido, Administrador!</h2>
    <li><span class="material-symbols-outlined">bar_chart_4_bars</span> Conoce tus estadisticas hoy</li>
  </div>

  <div class="summary-cards">
    <div class="card">
      <div class="card-content">
        <div class="card-icon blue">
          <span class="material-symbols-outlined">groups</span>
        </div>
        <div class="card-info">
          <h3>Residentes activos</h3>
          <div class="card-value">320</div>
          <div class="card-trend positive">+12 este mes</div>
        </div>
      </div>
      <button class="btn-report">
        <span class="material-symbols-outlined">description</span> Generar reporte
      </button>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-icon red">
          <span class="material-symbols-outlined">warning</span>
        </div>
        <div class="card-info">
          <h3>Incidencias abiertas</h3>
          <div class="card-value">12</div>
          <div class="card-trend negative">-4 vs ayer</div>
        </div>
      </div>
      <button class="btn-report">
        <span class="material-symbols-outlined">description</span> Generar reporte
      </button>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-icon green">
          <span class="material-symbols-outlined">calendar_today</span>
        </div>
        <div class="card-info">
          <h3>Actividades hoy</h3>
          <div class="card-value">8</div>
          <div class="card-trend positive">+2 vs ayer</div>
        </div>
      </div>
      <button class="btn-report">
        <span class="material-symbols-outlined">description</span> Generar reporte
      </button>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-icon purple">
          <span class="material-symbols-outlined">emoji_people</span>
        </div>
        <div class="card-info">
          <h3>Visitas esperadas</h3>
          <div class="card-value">24</div>
          <div class="card-trend positive">+5 vs ayer</div>
        </div>
      </div>
      <button class="btn-report">
        <span class="material-symbols-outlined">description</span> Generar reporte
      </button>
    </div>

  </div>

    <div class="allaccess-grid">
        <div class="card-lg">
            <div class="card-header">
                <div class="header-title">
                        <span class="material-symbols-outlined">Warning</span>
                        <div>
                            <h3>Bitacora general de Accesos</h3>
                            <small>Todos los accesos registrados</small>
                        </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="aura-table">
                        <thead>
                            <tr>
                                <th>Fecha y hora</th>
                                <th>Acción</th>
                                <th>Metodo</th>
                                <th>Información</th>
                                <th>Destino</th>
                                <th>Placa</th>
                                <th>Marca</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (isLoading()) {
                                <tr>
                                    <td colspan="5" class="text-center py-4">
                                        Cargando accesos vehiculares...
                                    </td>
                                </tr>
                            } @else if (accessLogsList().length === 0) {
                                <tr>
                                    <td colspan="5" class="text-center py-4">
                                        No hay accesos vehiculares registrados.
                                    </td>
                                </tr>
                            } @else {
                                @for (item of accessLogsList(); track item.id) {
                                    <tr>
                                        <td> {{ item.timestamp | date:'dd MMM yyyy · HH:mm' }} </td>
                                        <td>
                                            <span [class]="'badge ' + getAccessTypeClass(item.access_type || '')">
                                                {{ getAccessTypeLabel(item.access_type || '') }}
                                            </span>
                                        </td>
                                        <td>
                                            <span [class]="'badge ' + getMethodClass(item.method || '')">
                                                {{ getMethodLabel(item.method || '') }}
                                            </span>
                                        </td>
                                        <td> {{ item.message }} </td>
                                          <td>  {{ item.residence?.address?.name || 'Sin dirección' }},
                                                CP {{ item.residence?.address?.cp || 'N/A' }} </td>
                                        <td> {{ item.vehicle?.plate || 'N/A' }} </td>
                                        <td> {{ item.vehicle?.brand || 'N/A' }} </td>
                                    </tr>
                                }
                            }
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>